body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .container {
    width: 800px; 
    display: flex;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    height: 520px;
  }

img{
  width: 100%;
  height: 100%;
}
  
  .button {
    display: block;
    margin: auto;
    width: 312px; 
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
  .button:hover {
    background-color: #0056b3;
  }

.e{

  width: 550px;
  height: 520px;
}

.d{

  width: 450px;
  height: 520px;
}

.input{
    display: flex;
}

.input1 {
  display: block;
  margin: auto;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 125px; 
}

input {
  display: block;
  margin-left: 15px;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 310px; 
}

h1{
  text-align: center;
}
label{
  display: inline-block;  
  cursor: pointer;
  height: 5px;
}

.buttonsUp{
 display: flex;
}
  
.buttonUp{
  text-align: center;
  justify-content: center;
  width: 70px;
  margin-left: 60px;
  margin-bottom: 20px;
  margin-top: -10px;
  padding: 10px;
  font-weight: bolder;
}

.foto{
  display: none;
}

p{
  text-align: center;
}

a{
  text-decoration: none;
}

button{
  margin-top: 20px;
}

.ec{
  width: 100%;
  height: 200px;
}

.dc{
  margin: auto;
  width: 450px;
  height: 230px;
}

.containerc {
  width: 500px; 
  margin: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.input2 {
  display: block;
  margin: auto;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 170px; 
}

@keyframes fade-out{
  0%{opacity: 0;
  }
}

.container{
  animation: fade-out 2s;
}

.containerc{
  animation: fade-out 2s;
}

.containerd {
  width: 500px; 
  margin: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.inputd{
  display: flex;
}

.input1d {
display: block;
margin: auto;
margin-top: 10px;
margin-bottom: 25px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 15px;
width: 195px; 
}

.inputdd {
  display: block;
  margin-left: 15px;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 445px; 
}

.botaod {
  width: 90px; 
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 15px;
  height: 39px;
  margin-top: -5px;
}
   
 .buttonUpd{
  text-align: center;
  padding-top: 15px;
   width: 200px;
   margin-left: 40px;
   margin-bottom: 20px;
   margin-top: -10px;
   font-weight: bolder;
   height: 25px;
 }




.em{

  width: 550px;
  height: 520px;
}

.dm{

  width: 450px;
  height: 520px;
}

.lll{
  display: flex;
  height: 100px;
}

.containerdd{
  width: 900px; 
  margin: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  height: 400px;
}

h3{
  margin-top: 30px;
  color: #ccc;
}

.ass{
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 300px; 
  margin-left: 90px;
}

.containerddd{
  display: flex;
  width: 450px;
}

.inputdddd{
  width: 450px;
  height: 300px;
}

.inputddddd{
  width: 450px;
  height: 300px;
}

.asss{
  margin-top: 8px;
  margin-left: 40px;
  height: 80px;
  width: 300px;
}

.buttonsUpd{
  display: flex;
}



.fotoo{
  display: none;
}

.buttonUpdd{
    width: 50px;
    margin-left: 13px;
 }

.icon{
  margin-top:15px;
  width: 30px;
  height: 30px;
}

.botaodd {
  width: 30px; 
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 25px;
  margin-left: -20px;
  margin-top:18px
}

.tduvida{
  text-align: left;
  margin-bottom:-10px
}

.ttduvida{
  text-align: right;
  opacity: 60%;
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.deletar{
  width: 100px; 
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 25px;
  margin-top: 5px;
}

.usuario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fotopfp{
  display: block;
  margin: auto;
  width: 75px;
  border-radius: 50px;
}

.usersdiv{
  padding: 10px;
  box-shadow: 10px 10px 8px #888888;
  margin: 15px;
}

.branco{
  text-decoration: none;
  color: white;
}


.fn{
  margin: auto;
}

.p{
  margin-top: 15px;
}



.quadrado{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 80vw;
}

.divcoment{
  display: flex;
  padding-top: 10px
}

.borderComentarios{
  margin:auto;
  width: 700px; 
  border: solid 1px rgb(184, 184, 184);
  padding:10px;
}


.contentComentarios{
  padding:10px
}

.inputComent{
  display: inline
}

.nomecomentario{
 margin-left:10px;
 font-size:15px;
 font-weight:bolder;
}

.fotoComentario{
  width:45px;
  height:45px;
  border-radius: 50%
}

.coment{
  width: 550px;
  border-radius: 5px;
  margin-left: 5px;
  padding:5px;
  max-width:550px;
  height:15px
}

.textocomentario{
  margin-left:10px;
  font-size:15px;
}

.flex{
  display:flex
}

.mt-2{
  margin-top:3px
}

.mt{
  margin-top:8px;
  margin-left:5px
}

.conteudomateria{
  font-size:18px;
  font-weight:bold;
  font-style: italic;
  margin-bottom: 10px;
  margin-top:10px

}

.ml{
  margin-left:5px
}

.containera {
  width: 800px; 
  margin: auto;
  margin-top: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding:20px;
  border: 1px solid gray;
}

.imgcomentario{
  display:block;
  margin:auto;
}

.perfil{
  margin-top:20px;
  display:flex;
  justify-content: center
}


.banner{
  display:block;
  margin:auto;
  width:1000px;
  height:200px
}

.perfilNome{
  text-align: center
}

.nomeperfil{
  font-size: 24px
}

.descperfil{
  font-size: 20px
}

.buscar{
  width:400px;
  padding:10px;
  font-weight:550;
}

.buscarDiv{
  margin-top:100px;
  justify-content:center;
  margin-top:10px;
}

.buscarD{
  width:900px;
  padding:10px;
  font-weight:550
}

.buscarDd{
  display:flex;
  justify-content:center;
  margin-top:50px;
}

.fotoduvi{
 
}

.titulocoment { 
  margin-top:-5px
}

.mr {
  margin-right:5px
}

.monitorBorder{
  border: 1px solid black;
  padding: 20px
}